@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family:"Second-bold";
    src: url('../public/fonts/Montserrat-Bold.ttf');
}

@font-face {
    font-family:"Second-regular";
    src: url('../public/fonts/Montserrat-Regular.ttf');
}

@font-face {
    font-family:"Poppins-bold";
    src: url('../public/fonts/Poppins-Bold.ttf');
}

@font-face {
    font-family:"Poppins-regular";
    src: url('../public/fonts/Poppins-Regular.ttf');
}

.dropdown1 {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    padding-left: 0;
    display: none;
    background: white;
    z-index: 1001;
    border-radius: 5px;
    min-height: 180px;
    transition: ease 300ms;


}

.drop1:hover > .dropdown1,
.drop1 .dropdown1:hover {
    visibility: visible;
    opacity: 1;
    display: block;
    text-align: left;
    padding: 10px 10px 0 10px;
    box-shadow: 0 1px 2px -1px #ccc;
    transition: ease 300ms;
    cursor: pointer;



}

.drop1 .dropdown1 .linkItem-light {
    clear: both;
    text-align: left;
    margin-bottom: 5px;
    border-style: none;
    font-size: 14px !important;
}

.drop1 .dropdown1 .dropdown1-items a { transition: all 0.5s ease; }
.dropdown1{
    display: flex;
}

#neum{
    border-radius: 16px;
    background: #ffffff;
    box-shadow:  -8px 8px 16px #999999,
    8px -8px 16px #ffffff;
}

#neumd{
    border-radius: 16px;
    background: #ffffff;
    box-shadow:  8px 8px 16px #999999,
    -8px -8px 16px #ffffff;
}

#dark{
    border-radius: 50%;
    background: #ffffff;
    box-shadow:  7px 7px 18px #737373,
    -7px -7px 18px #ffffff;
}

#cv{
    border-radius: 16px;
    background: #ffffff;
    box-shadow:  -8px 8px 16px #999999,
    8px -8px 16px #ffffff;
}
#button{
    border-radius: 35px;
    background: linear-gradient(45deg, #5159d3, #606afa);
    box-shadow:  5px -5px 10px #4d55c9,
    -5px 5px 10px #6771ff;
}

#res{
    background: #606afa;
    box-shadow:  6px -6px 7px #545cda,
    -6px 6px 7px #606afa;
}
#addresse{
    border-radius: 24px;
    background: linear-gradient(45deg, #e6e6e6, #ffffff);
    box-shadow:  8px -8px 18px #ededed,
    -8px 8px 18px #ffffff;
}
